body {

}


.header {
    max-width: 100%;
    margin: 0 auto;
    background: #d1d1d1;
    min-height: 100px;
    border: 1px solid #000000;
    display: flex;
}

.logo{
    width: 50px;
    height: auto;
    padding: 25px;
    max-width: 30%;
}

.title{
    margin-top: 20px;
    margin-left: 40%;
}


a:link, a:visited {
    color: black;
    font-size: 20px;
    text-decoration:none;
}

a:hover{
    border-bottom: 1px solid #000000;
}


ul{
    display: flex;
    list-style-type: none;
    margin: 0 auto;
    padding: 0px;
}

li{
    padding: 20px;
    text-align:center;
}
.nav {
    display: flex;
    float: right;
    margin-right: 0px;
    margin-left: auto;
}
.search-box{
    vertical-align: middle;
    margin-top: 20px;
    padding: 50px;
}
.footer{
    min-height: 100px;
    background-color:#d1d1d1;
    border: 1px solid #000;
    width: 100%;
    position: fixed;
    bottom:0;
    
}
.copyright{
    display: flex;
    margin-left:43%;
}

#Content2{
    max-width80%;
}
.container{
    display:flex;
}