body {

}

.header {/*TestingPage*/
    max-width: 80%;
    margin: 0 auto;
    border: 1px solid #000000;
    min-height: 150px;
    border-radius: 15px;
    margin-top: 30px;
}

.logo {
    margin-left: 30px;
    margin-top: 30px;
}

.user{
    margin-top: 20px;
}

.cart{
    margin-top: 20px;
}
#SearchBox {
    vertical-align: central;
    margin-top: 40px;
    width: 250px;
    height: 50px;
}